{% extends 'base.html' %}
{% load staticfiles %}


{% block seo_title %}
    Доступ запрещён
{% endblock %}
{% block meta %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block seo_description %}
    Доступ запрещён
{% endblock %}

{% block page_title %}
    Доступ запрещён
{% endblock %}

{% block main %}
    <div class="uk-container uk-text-center">
        <h2 class="uk-heading-divider">Доступ запрещён</h2>
        <div class="uk-text-lead">
            <p>Возможно, вы не вошли в систему.</p>
            <p>Возврат на <a href="/">главную страницу</a></p>
        </div>
    </div>
{% endblock %}