{% extends 'base.html' %}
{% load staticfiles %}
{% load sitetree %}

{% block seo_title %}
    {{ block.super }} - {% sitetree_page_title from "sitemap" %} - Анапа
{% endblock %}
{% block seo_description %}
    {% sitetree_page_description from "sitemap" %}
{% endblock %}

{% block page_title %}
    {{ block.super }} - {% sitetree_page_title from "sitemap" %} - Анапа
{% endblock %}

{% block main %}
    <div class="uk-container uk-margin-top">
        {% sitetree_breadcrumbs from "sitemap" template "nav/breadcrumb.html" %}
        <div class="service">
            {{ card.text|safe }}
        </div>
        <div class="service-photo">
            {% if card.photos.all %}
                <div class="uk-flex uk-flex-center uk-grid-small uk-child-width-1-4@m" uk-grid uk-lightbox>
                    {% for photo in card.photos.all %}
                        <a href="{{ photo.file.url }}">
                            <div class="uk-cover-container">
                                <canvas height="350"></canvas>
                                <img src="{{ photo.file.url }}" alt="" uk-cover>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}