$global-link-color: #f7117a;
$base-link-hover-color: #af0c56;
$base-link-hover-text-decoration: none;
$global-color: #212a63;
$card-primary-title-color: #f7117a;
$base-heading-color: #f7117a;
$heading-line-border: $base-heading-color;
$inverse-heading-line-border: #ffffff;
$inverse-base-heading-color: #ffffff;
$global-line-height: 1.2;

.as-topbar {
  min-height: 40px;
  background: url('../svg/stripe.svg');
  background-size: 40px;
}

ul.as-topmenu {
  list-style: none;
  color: white;
  line-height: 40px;
  vertical-align: middle;
  & > li {
    a {
      color: hotpink;
      font-weight: bold;
      text-transform: uppercase;
      transition: color .3s ease-in-out;
      text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.35);
      &:hover {
        text-decoration: none;
        color: deeppink;
      }
    }
    &:after {
      content: '*';
      font-weight: bold;
      vertical-align: middle;
      padding: 0 20px;
      color: yellow;
    }
    &:last-child {
      &:after {
        content: none;
      }
    }
  }
}

.as-header {
  background: white;
  position: relative;
  box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.65);
}

.as-logo {
  &:hover {
    text-decoration: none;
  }
  img {
    min-height: 70px;
    height: 100%;
    padding: 0px 30px;
  }
}

.as-site-title {
  text-transform: uppercase;
  color: white;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.45);
  font-weight: bold;
}

.as-cloud {
  position: relative;
  &:before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 98px;
    top: 0;
    left: 0;
    background-image: url('../svg/cloud.svg');
    background-repeat: repeat-x;
    z-index: 2;
  }
  &:after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 98px;
    bottom: 0;
    left: 0;
    transform: rotate(180deg);
    background-image: url('../svg/cloud.svg');
    background-repeat: repeat-x;
    z-index: 2;
  }
}

.as-feed-btn {
  background: linear-gradient(-45deg, #ffdb2e, #feba04);
  padding: 10px 20px;
  border-radius: 15px;
  font-weight: bold;
  box-shadow: 1px 1px 1px #ce9c0c;
  transition: all .3s ease-in-out;
  &:hover {
    box-shadow: 2px 4px 0px #ce9c0c;
  }
  &:active {
    box-shadow: inset 0px 0px 7px #966f0b;
  }
}

.as-footer {
  width: 100%;
  color: white;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 10px #000000;
  background: linear-gradient(180deg, #273174, #090c21);
}

.as-footer-logo {
  width: 100px;
}

.as-main {
  min-height: 30vh;
}

.as-card-title {
  margin: 0;
  margin-top: 15px;
}

.as-card-image {
  overflow: hidden;
  position: relative;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  transition: all .4s ease-in-out;
  &:hover {
    .as-card-body {
      opacity: 1;
      cursor: pointer;
    }
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
  }
}

.as-card-body {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 50%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  transition: all .4s ease-in-out;
  div > * {
    display: table;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 0;
    height: auto;
    bottom: 0;
    margin: auto;
  }
}

.social {
  height: 30px;
  img {
    height: 100%;
  }
}

@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

@mixin hook-card() {
  color: #000;
}

@import "uikit/src/scss/uikit-theme.scss";