{% extends 'base.html' %}
{% load staticfiles %}
{% load sitetree %}

{% block seo_title %}
    {{ block.super }} - {% sitetree_page_title from "sitemap" %} - Анапа
{% endblock %}
{% block seo_description %}
    {% sitetree_page_description from "sitemap" %}
{% endblock %}

{% block page_title %}
    {{ block.super }} - {% sitetree_page_title from "sitemap" %} - Анапа
{% endblock %}

{% block main %}
    <div class="uk-container uk-container-large uk-margin-top">
        {% for album in albums %}
            {{ album.title }}
        {% endfor %}

    </div>
{% endblock %}