{% extends 'base.html' %}
{% load staticfiles %}

{% block seo_title %}
    {{ block.super }} - ПРАЗДНИЧНОЕ АГЕНТСТВО - АНАПА
{% endblock %}

{% block main %}
    <div class="uk-cover-container as-cloud">
        <canvas id="as-title-background" height="400"></canvas>
        <img src="{% static 'jpg/home.jpg' %}" alt="" uk-cover>
        <div class="uk-position-center uk-container">
            <h1 class="as-site-title uk-text-center">АЛЕКС - Праздничное Агентство - Анапа</h1>
            <p class="as-site-title uk-text-center">Организация детских праздников в Анапе</p>
        </div>
    </div>
    <div class="uk-container uk-container-large uk-margin-top">
        <h2 class="uk-heading-line uk-text-center"><span>{{ alex }}</span></h2>
    </div>
{% endblock %}