{% load render_bundle from webpack_loader %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block seo_title %}АЛЕКС{% endblock %}</title>
    {% render_bundle 'app' 'css' %}
</head>
<body>
{% block topbar %}
    <div class="as-topbar uk-visible@s">
        <div class="uk-container uk-container-expand">
            <ul class="as-topmenu uk-flex uk-flex-center">
                <li><a href="">Меню</a></li>
                <li><a href="">Программа</a></li>
                <li><a href="">Фото</a></li>
                <li><a href="">Видео</a></li>
                <li><a href="">Меню</a></li>
                <li><a href="">Меню</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block navbar %}
    <div class="as-header">
        <div class="uk-flex uk-flex-middle uk-flex-around">
            <div class="uk-padding-small">
                <a href="" class="as-logo uk-align-left uk-margin-remove">
                    <img src="{% static 'svg/logo.svg' %}">
                </a>
                <small class="uk-visible@s">Праздничное <br/> Агентство</small>
            </div>
            <div class="uk-padding-small uk-visible@s uk-visible@m">
                <a href="#modal-feed" class="as-feed-btn" title="Оставить заявку на организацию праздника" uk-toggle>Оставить заявку</a>
            </div>
            <div class="uk-padding-small uk-visible@s">
                <div>
                    <div><span class="uk-margin-small-right" uk-icon="location"></span> Адрес:</div>
                    <div><strong>г-к. Анапа, ул. Кирова 54</strong></div>
                </div>
            </div>
            <div class="uk-padding-small uk-visible@s">
                <div><span class="uk-margin-small-right" uk-icon="phone"></span> Телефон:</div>
                <div class="as-phone"><strong><a href="">8 (918) 64-86-996</a></strong></div>
                <div class="as-phone"><strong><a href="">8 (928) 037-39-65</a></strong></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal_feed %}
    <div id="modal-feed" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">Headline</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                <button class="uk-button uk-button-primary" type="button">Save</button>
            </p>
        </div>
    </div>
{% endblock %}

{% block main %}

{% endblock %}
{% render_bundle 'app' 'js' %}
</body>
</html>