{% load render_bundle from webpack_loader %}
{% load staticfiles %}
{% load sitetree %}
{% load solo_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% get_solo 'alex_site.SiteConfiguration' as site_config %}
    <title>{% block seo_title %}{{ site_config.site_name }}{% endblock %}</title>
    <meta name="description" content="{% block seo_description %}{{ site_config.site_descritpion }}{% endblock %}">
    <link href="{% static 'icon/favicon.ico' %}" type="image/x-icon" rel="icon"/>
    {#    <link href="" rel="apple-touch-icon"/>#}
    {% render_bundle 'app' 'css' %}
</head>
<body>

{% block topbar %}
    <div class="as-topbar uk-visible@s">
        <div class="uk-container uk-container-expand">
            {% sitetree_menu from "top_menu" include "trunk" template "nav/topmenu.html" %}
        </div>
    </div>
{% endblock %}
{% block navbar %}
    <div class="as-header">
        <div class="uk-flex uk-flex-middle uk-flex-around">
            <div class="uk-padding-small">
                <a href="/" class="as-logo uk-align-left uk-margin-remove">
                    <img src="{% static 'svg/logo.svg' %}">
                </a>
                <small class="uk-visible@s">Праздничное <br/> Агентство</small>
            </div>
            <div class="uk-padding-small uk-visible@s uk-visible@m">
                <a href="#modal-feed" class="as-feed-btn" title="Оставить заявку на организацию праздника" uk-toggle>Оставить
                    заявку</a>
            </div>
            <div class="uk-padding-small uk-visible@s">
                <div>
                    <div><span class="uk-margin-small-right" uk-icon="location"></span> Адрес:</div>
                    <div><strong>{{ site_config.address }}</strong></div>
                </div>
            </div>
            <div class="uk-padding-small uk-visible@s">
                <div><span class="uk-margin-small-right" uk-icon="phone"></span> Телефон:</div>
                {% for phone in site_config.phone_list %}
                    <div class="as-phone"><strong><a href="tel:{{ phone }}">{{ phone }}</a></strong></div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block modal_feed %}
    <div id="modal-feed" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <form class="uk-form-stacked">
                <div class="uk-margin">
                    <label class="uk-form-label" for="client-name">Ваше имя</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="client-name" type="text" placeholder="Ваше имя">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="client-phone">Ваш телефон</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="client-phone" type="text" placeholder="8 999 999-99-99">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="client-text">Комментарий</label>
                    <div class="uk-form-controls">
                        <textarea rows="5" class="uk-textarea" id="client-text"
                                  placeholder="8 999 999-99-99"></textarea>
                    </div>
                </div>
                <div class="uk-flex uk-flex-right">
                    <div>
                        <a href="" class="uk-button uk-button-primary">Отправить</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
<div class="uk-cover-container as-cloud">
    <canvas id="as-title-background" height="400"></canvas>
    <img src="{% static 'jpg/home.jpg' %}" alt="" uk-cover>
    <div class="uk-position-center uk-container">
        <h1 class="as-site-title uk-text-center">
            {% block page_title %}{{ site_config.site_name }}{% endblock %}
        </h1>
    </div>
</div>
<main class="as-main">
    {% block main %}
        {% block cards %}
        {% endblock %}
    {% endblock %}
</main>
<footer class="as-footer uk-padding uk-padding-remove-horizontal uk-margin-large-top">
    <div class="uk-container uk-container-large">
        <div class="uk-flex uk-flex-middle uk-flex-wrap uk-flex-around">
            <div>
                <object class="as-footer-logo uk-align-left uk-margin-small-right uk-margin-small-top"
                        data="{% static 'svg/logo-white.svg' %}" type="image/svg+xml"></object>
                <small style="line-height: 1.1!important;">
                    Праздничное Агентство "{{ site_config.site_name }}" <br/>
                    {{ site_config.address }}<br/>
                    {% for phone in site_config.phone_list %}
                        {{ phone }}<br/>
                    {% endfor %}
                </small>
            </div>
            <div>
                <h3 style="color: white;">Мы в соцсетях</h3>
                <div class="uk-flex uk-flex-center uk-grid-small">
                    {% for social in site_config.socials.all %}
                        <div class="social vk">
                            <a href="{{ social.link }}" title="Мы в {{ social.get_social_display }}" target="_blank"
                               rel="nofollow">
                                <img src="{% static 'svg/' %}{{ social.social|lower }}.svg">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div>
                <object class="as-footer-logo" data="{% static 'svg/logo-white.svg' %}" type="image/svg+xml"></object>
            </div>
        </div>
    </div>
</footer>
{% render_bundle 'app' 'js' %}
</body>
</html>