{% load render_bundle from webpack_loader %}
{% load staticfiles %}
{% load sitetree %}
{% load solo_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% get_solo 'alex_site.SiteConfiguration' as site_config %}
    <title>{% block seo_title %}{{ site_config.site_name }}{% endblock %}</title>
    <meta name="description" content="{% block seo_description %}{{ site_config.site_descritpion }}{% endblock %}">
    <link href="{% static 'icon/favicon.ico' %}" type="image/x-icon" rel="icon"/>
    {#    <link href="" rel="apple-touch-icon"/>#}
    {% render_bundle 'app' 'css' %}
    {% block meta %}{% endblock %}
    <meta name="yandex-verification" content="ee3c0a0e25d3f5c5"/>
    <meta name="google-site-verification" content="n_YLCgPcRK10JsXb5w71f32i5W-4jGzi-FymCabHfHQ" />
</head>
<body>

{% block topbar %}
    <div class="as-topbar uk-visible@s">
        <div class="uk-container uk-container-expand">
            {% sitetree_menu from "top_menu" include "trunk" template "nav/topmenu.html" %}
        </div>
    </div>
{% endblock %}
{% block navbar %}
    <div class="as-header">
        <div class="uk-flex uk-flex-middle uk-flex-around">
            <div class="uk-padding-small">
                <a href="/" class="as-logo uk-align-left uk-margin-remove">
                    <img src="{% static 'svg/logo.svg' %}">
                </a>
                <a class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon uk-toggle href="#mobile-menu"></a>
                <small class="uk-visible@s">Праздничное <br/> Агентство</small>
            </div>
            <div class="uk-padding-small uk-visible@s uk-visible@m">
                <a href="#modal-feed" class="as-feed-btn" title="Оставить заявку на организацию праздника" uk-toggle>Оставить
                    заявку</a>
            </div>
            <div class="uk-padding-small uk-visible@s">
                <div>
                    <div><span class="uk-margin-small-right" uk-icon="location"></span> Адрес:</div>
                    <div><strong>{{ site_config.address }}</strong></div>
                </div>
            </div>
            <div class="uk-padding-small uk-visible@s">
                <div><span class="uk-margin-small-right" uk-icon="phone"></span> Телефон:</div>
                {% for phone in site_config.phone_list %}
                    <div class="as-phone"><strong><a href="tel:{{ phone }}">{{ phone }}</a></strong></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="mobile-menu" uk-offcanvas>
        <div class="uk-offcanvas-bar">

            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <div style="min-height: 70px;">
                <a href="/" class="as-logo uk-align-left uk-margin-remove">
                    <img src="{% static 'svg/logo.svg' %}">
                </a>
            </div>
            <div class="uk-padding-small">
                <div><span class="uk-margin-small-right" uk-icon="phone"></span> Телефон:</div>
                {% for phone in site_config.phone_list %}
                    <div class="as-phone"><strong><a href="tel:{{ phone }}">{{ phone }}</a></strong></div>
                {% endfor %}
            </div>
            <div class="uk-margin-top">
                {% sitetree_menu from "top_menu" include "trunk" template "nav/mobile.html" %}
            </div>

        </div>
    </div>
{% endblock %}
{% block modal_feed %}
    <div id="modal-feed" uk-modal>
        <div class="uk-modal-dialog uk-modal-body" id="feed-modal">
            <form id="feed-form" class="uk-form-stacked" method="post" action="{% url 'feedback' %}">
                {% csrf_token %}
                <div class="uk-margin">
                    <label class="uk-form-label" for="client-name">Ваше имя</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" name="name" id="client-name" type="text" required
                               placeholder="Ваше имя">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="client-phone">Ваш телефон</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" name="phone" id="client-phone" type="text" required
                               placeholder="8 999 999-99-99">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="client-text">Комментарий</label>
                    <div class="uk-form-controls">
                        <textarea rows="5" name="comment" class="uk-textarea" required id="client-text"
                                  placeholder="Комментарий"></textarea>
                    </div>
                </div>
                <div class="uk-flex uk-flex-right">
                    <div>
                        <button type="submit" id="send-feed" class="uk-button uk-button-primary">Отправить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
<div class="uk-cover-container as-cloud">
    <canvas id="as-title-background" height="400"></canvas>
    <img src="{% static 'jpg/home.jpg' %}" alt="" uk-cover>
    <div class="uk-position-center uk-container">
        <h1 class="as-site-title uk-text-center">
            {% block page_title %}{{ site_config.site_name }}{% endblock %}
        </h1>
    </div>
</div>
<main class="as-main">
    {% block main %}
        {% block cards %}
        {% endblock %}
    {% endblock %}
</main>
<footer class="as-footer uk-padding uk-padding-remove-horizontal uk-margin-large-top">
    <div class="uk-container uk-container-large">
        <div class="uk-flex uk-flex-middle uk-flex-wrap uk-flex-around">
            <div>
                <object class="as-footer-logo uk-align-left uk-margin-small-right uk-margin-small-top"
                        data="{% static 'svg/logo-white.svg' %}" type="image/svg+xml"></object>
                <small style="line-height: 1.1!important;">
                    Праздничное Агентство "{{ site_config.site_name }}" <br/>
                    {{ site_config.address }}<br/>
                    {% for phone in site_config.phone_list %}
                        {{ phone }}<br/>
                    {% endfor %}
                </small>
            </div>
            <div>
                <h3 style="color: white;">Мы в соцсетях</h3>
                <div class="uk-flex uk-flex-center uk-grid-small">
                    {% for social in site_config.socials.all %}
                        <div class="social vk">
                            <a href="{{ social.link }}" title="Мы в {{ social.get_social_display }}" target="_blank"
                               rel="nofollow">
                                <img src="{% static 'svg/' %}{{ social.social|lower }}.svg">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div>
                <div class="uk-padding-small">
                    <!-- Yandex.Metrika informer -->
                    <a href="https://metrika.yandex.ru/stat/?id=49074941&amp;from=informer"
                       target="_blank" rel="nofollow"><img
                            src="https://informer.yandex.ru/informer/49074941/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
                            style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика"
                            title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)"
                            class="ym-advanced-informer" data-cid="49074941" data-lang="ru"/></a>
                    <!-- /Yandex.Metrika informer -->

                    <!-- Yandex.Metrika counter -->
                    <script type="text/javascript">
                        (function (d, w, c) {
                            (w[c] = w[c] || []).push(function () {
                                try {
                                    w.yaCounter49074941 = new Ya.Metrika2({
                                        id: 49074941,
                                        clickmap: true,
                                        trackLinks: true,
                                        accurateTrackBounce: true
                                    });
                                } catch (e) {
                                }
                            });

                            var n = d.getElementsByTagName("script")[0],
                                s = d.createElement("script"),
                                f = function () {
                                    n.parentNode.insertBefore(s, n);
                                };
                            s.type = "text/javascript";
                            s.async = true;
                            s.src = "https://mc.yandex.ru/metrika/tag.js";

                            if (w.opera == "[object Opera]") {
                                d.addEventListener("DOMContentLoaded", f, false);
                            } else {
                                f();
                            }
                        })(document, window, "yandex_metrika_callbacks2");
                    </script>
                    <noscript>
                        <div><img src="https://mc.yandex.ru/watch/49074941" style="position:absolute; left:-9999px;"
                                  alt=""/></div>
                    </noscript>
                    <!-- /Yandex.Metrika counter -->
                </div>
            </div>
        </div>
    </div>
</footer>
{% render_bundle 'app' 'js' %}
</body>
</html>